.env
.env.*
!.env.example
!backend/.env.example
!frontend/.env.example

# BACKEND (Python / Django)

venv/

# Python cache files
__pycache__/
*.pyc

# Local database file
db.sqlite3

# FRONTEND (Node / React)

node_modules/

dist/



uvicorn core.asgi:application


all_code.py
project_code.txt
